<html lang="en" ng-app="mylanguage">
	<head>
	<title>
		Angular js
	</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

	<style type="text/css">
		body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
</style>
   
	</head>


<body ng-app="mylanguage">
   <script type="text/javascript">
		var myapp = angular
		                   .module('mylanguage',[])
                           .controller('mycontroller',function($scope){
                           var employees = [
                {
                    name: "Ben", dateOfBirth: new Date("November 23, 1980"),
                    gender: "Male", salary: 55000
                },
                {
                    name: "Sara", dateOfBirth: new Date("May 05, 1970"),
                    gender: "Female", salary: 68000
                },
                {
                    name: "Mark", dateOfBirth: new Date("August 15, 1974"),
                    gender: "Male", salary: 57000
                },
                {
                    name: "Pam", dateOfBirth: new Date("October 27, 1979"),
                    gender: "Female", salary: 53000
                },
                {
                    name: "Todd", dateOfBirth: new Date("December 30, 1983"),
                    gender: "Male", salary: 60000
                }
            ];

          $scope.employees=employees;
          $scope.sortcolumn = "name";

		                   });
</script>


<div ng-controller="mycontroller">
Oreder By:<select ng-model="sortcolumn">
	<option value="name">Name ASC</option>
	<option value="dob">DOB ASC</option>
	<option value="gender">Gender ASC</option>
	<option value="-salary">Salary DESC</option>
</select>
<br>
<br>
 <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | orderBy:sortcolumn">  
                    <td>
                        {{ employee.name }}
                    </td>
                    <td>
                        {{ employee.dateOfBirth | date:"dd/MM/yyyy" }}
                    </td>
                    <td>
                        {{ employee.gender }}
                    </td>
                    <td>
                        {{ employee.salary  }}
                    </td>
                </tr>
            </tbody>
        </table>
	
	
	</div>
	
		
	</body>
</html>